@font-face {
  font-family: "AkzidGroLigOsF";
  src: local("AkzidGroLigOsF"),
    url("../public/assets/font/AkzidGroLigOsF.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "AkzidGroReg";
  src: local("AkzidGroReg"),
    url("../public/assets/font/AkzidGroReg.ttf") format("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}
