@font-face {
  font-family: "Akzidenz-Grotesk-Next-Light";
  src: local("Akzidenz-Grotesk-Next-Light"),
    url("../public/assets/font/Akzidenz-Grotesk-Next-Light.otf")
      format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Next-Regular";
  src: local("Akzidenz-Grotesk-Next-Regular"),
    url("../public/assets/font/Akzidenz-Grotesk-Next-Regular.otf")
      format("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Akzidenz-Grotesk-Next-Light";
}
