body {
  overflow: hidden;
}

@media only screen and (min-width: 0px) {
  .credits-info {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: white;

    .img-eyes {
      margin-top: 15vh;
      width: 25vw;
      height: auto;
    }

    h2 {
      padding: 5%;
      font-family: "AkzidGroLigOsF";
      font-size: 120%;
    }

    .credits-roles-authors {
      display: inline; /* Ensure entries are displayed inline */
      text-align: center;
      padding: 0 7%;
      font-family: "AkzidGroLigOsF";
      font-size: 4vw;

      .role {
        font-family: "AkzidGroMed";
        display: inline; /* Ensure role and authors are on the same line */
      }
    }
  }

  .credits-exit {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10% 0;

    img {
      width: 10vw;
      height: auto;
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 590px) {
  .credits-info {
    .img-eyes {
      margin-top: 8vh;
      width: 15vw;
    }
    h2 {
      font-size: 220%;
    }

    .credits-roles-authors {
      font-size: 190%;
    }
  }

  .credits-exit {
    img {
      width: 5vw;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .credits-info {
    .img-eyes {
      margin-top: 8%;
      width: 5vw;
    }
    h2 {
      padding: 2%;
      font-size: 1.5vw;
    }

    .credits-roles-authors {
      padding: 0 25%;
      font-size: 1.3vw;
    }
  }

  .credits-exit {
    margin: 2% 0;
    img {
      width: 2.5vw;
    }
  }
}
