body {
  overflow: hidden;
}

@media only screen and (min-width: 0px) {
  .massaia {
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7%;
    z-index: 1;
    img {
      height: auto;
      width: 10vw;
    }
  }

  .album-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .credits {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin: 7%;
    font-family: "AkzidGroLigOsF";
    z-index: 1;
    p {
      font-size: 5vw;
    }
  }

  .song-info {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 7%;
    font-family: "AkzidGroLigOsF";
    p {
      font-size: 5vw;
    }
  }

  /* menu albums */
  .menu-albuns-line {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-albums {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

    .menu-albums-cover {
      width: 100px;
      height: 100px;
      object-fit: cover;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 140vw;
    }

    .menu-albums-songs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .menu-albums-song {
      margin: 0 1rem;
      width: 150px;
      height: 100px;
      object-fit: cover;
      display: inline-block;
    }
  }

  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
}

@media only screen and (min-width: 590px) {
  .massaia {
    position: absolute;
    top: 0;
    display: flex;
    margin: 7%;
    color: white;
    font-family: "AkzidGroLigOsF";
    p {
      font-size: 6vw;
    }
  }

  .album-cover {
    img {
      width: 150px;
      height: 150px;
    }
  }

  .menu {
    img {
      width: 6vw;
    }
  }

  .credits {
    p {
      font-size: 4vw;
    }
  }

  .song-info {
    p {
      font-size: 4vw;
    }
  }

  /* menu albums */
  .menu-albums {
    .menu-albums-cover {
      width: 150px;
      height: 150px;
    }

    .menu-albums-song {
      width: 200px;
      height: 150px;
    }
  }

  .menu-albuns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-albums-line {
    position: absolute;
    top: 0;
    margin-top: 10%;

    img {
      width: 150px;
      height: auto;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .massaia {
    margin: 2%;
    p {
      font-size: 2.8vw;
    }
  }

  .menu {
    margin: 2%;
    img {
      width: 2.8vw;
    }
  }

  .credits {
    margin: 2%;
    p {
      font-size: 1.5vw;
    }
  }

  .song-info {
    margin: 2%;
    p {
      font-size: 1.5vw;
    }
  }

  /* menu albums */
}
