.massaia {
  position: absolute;
  top: 0;
  display: flex;
  margin: 2%;
  color: white;
  font-family: "AkzidGroLigOsF";
  p {
    font-size: 2.8vw;
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  img {
    height: auto;
    width: 2.8vw;
  }
}

.album-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
  }
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  margin: 2%;
  font-family: "AkzidGroLigOsF";
  p {
    font-size: 1vw;
  }
}

.song-info {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 2%;
  font-family: "AkzidGroLigOsF";
  p {
    font-size: 1vw;
  }
}
