.musicControllers {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: bisque;
}

.left-group,
.center-group,
.right-group {
  display: flex;
  align-items: center;
}

.left-group {
  flex: 1;
}

.musicControllers-vol {
  margin-right: 1rem;
}

.musicControllers-song-name {
  margin-right: 1rem;
}

.musicControllers-more-songs {
  width: 20px;
  height: auto;
}

.center-group {
  flex: 1;
  justify-content: center;
}

.control-button {
  margin: 0 0.5rem;
}

.right-group {
  flex: 1;
  justify-content: flex-end;
}

.mute-button {
  margin-right: 1rem;
}

.volume-slider {
  width: 100px;
}

@media (max-width: 768px) {
  .right-group {
    display: none;
  }
}
