@media only screen and (min-width: 0px) {
  .project-container {
    margin-top: 12vh;
  }

  .project-video {
    width: 100vw;
    height: auto;
    margin-bottom: 2rem;
  }

  .project-scroll-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    gap: 2rem;

    p {
      font-family: "AkzidGroMed";
      margin: 0 1rem;
      width: max-content;
      cursor: pointer;
      font-size: 15px;
    }

    .project-key {
      margin: 0 10px;
      cursor: pointer;
      padding: 10px;
    }

    .project-key.selected {
      background-color: black;
      color: white;
    }

    .nav-arrow {
      width: 2rem;
      cursor: pointer;
      margin: 0 10px;
    }

    .nav-arrow-prev {
      transform: rotate(180deg);
    }
  }

  .project-info {
    padding: 2rem;
    p {
      font-family: "AkzidGroLigOsF";
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: black;
      font-family: "AkzidGroMed";
    }

    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 40vw;
        height: auto;
        margin: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 880px) {
  .project-container {
    margin-top: 5vh;
  }

  .project-video {
    width: 100vw;
    height: 40vh;
    margin: 0;
  }

  .project-scroll-bar {
    justify-content: flex-start;
    margin: 2rem;

    .project-key {
      margin: 0;
    }
  }

  .project-info {
    margin: 2rem;
    padding: 0 45% 0 0;

    p {
      margin: 0;
      font-size: 20px;
    }

    .logos {
      flex-direction: row;
      justify-content: flex-start;

      img {
        height: 8vh;
        width: auto;
        margin: 2rem 2rem 0 0;
      }
    }
  }
}
